<!doctype html>
{% load static %}
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Geo Maker</title>
  <link rel="shortcut icon" href="{% static 'main/images/favicon.ico' %}" />

  <!-- Links -->
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A==" crossorigin=""/>
  <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js" integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA==" crossorigin=""></script>
  <link rel="stylesheet" type="text/css" href="https://unpkg.com/leaflet-routing-machine@latest/dist/leaflet-routing-machine.css" />
  <script src="https://unpkg.com/leaflet-routing-machine@latest/dist/leaflet-routing-machine.js"></script>
  <script src="http://www.liedman.net/lrm-graphhopper/dist/lrm-graphhopper-1.2.0.min.js"></script>
  <link rel="stylesheet" type="text/css" href="{% static 'main/index.css' %}">
</head>
<body>
  <div id="map"></div><br>
  <div class="range">
    <input type="text" id="range_val" value="Дистанция ≈ 2км">
    <input type="range" id="range" min="1" max="50" onchange="updateTextInput(this.value);" value="2">
  </div>
  <br>
  <div id="route">
    {% for src in images %}
      <button onclick="request('{{src.1}}')" class="image" id={{src.0}}><img src="{% static 'main/images/' %}{{src.1}}" height="100px" alt="{{src.0}}"></button>
    {% endfor %}
  </div>
  <br>
  <div class="load"><a href="http://127.0.0.1:8000/upload/">Загрузить свою картинку</a></div>
  <script type="text/javascript" src="{% static 'main/map.js' %}"></script>
  <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
  <script type="text/javascript" src="{% static 'main/routing.js' %}"></script>
</body>
</html>